

<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username</label>
  <input id="username" type="text" name="user[user_name]" value="">

  <label for="password">Password</label>
  <input type="password" name="user[password]" value="">
  <input id="password" type="submit" value="Create User">

</form>
